.allBox {
    width: calc(100%);
    height: 100%;
    float: right;
    background-color: #ffffff;}

   .allBox .inputBox {
    margin-top: 0px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 60px;
    background-color: #ffffff;}

   .allBox .inputBox div {
    width: 25%;}
.allBox .inputBox div input {
    width: 70%;
}
.allBox .inputBox div.seachBtn {
    margin-right: 20px;
}


.allBox .tableBox {
    width: 100%;
    height: 90%;
    padding: 0 45px;
    background-color: #ffffff;
}


.modalInput {
    display: flex;
    align-items: center;
    margin: 10px auto;}

 .modalInput .modalTitle {
    margin-right: 10px;
    width: 20%;
    text-align: right;
}

.modalInput input textarea{

/*input[type='text'],*/
/*input[type='password'],*/
/*input[type='number'],*/

    width: 50%;}

.modalInput input textarea.ant-input {
    max-width: 50%;
}


